<!DOCTYPE html>
<html>
<head>
  <style>
    div {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <form method="POST">
    <div>
      <label>Avg_Area_Income:</label><br>
      <input type="number" name="income" required>
    </div>

    <div>
      <label>Avg_Area_House_Age:</label><br>
      <input type="number" name="houseAge" required>
    </div>

    <div>
      <label>Avg_Area_Number_of_Rooms:</label><br>
      <input type="number" name="nRooms" required>
    </div>

    <div>
      <label>Area_Population:</label><br>
      <input type="number" name="population" required>
    </div>

    <input type="submit" value="Predict">
  </form>

  {% if prediction is not none %}
    <p>Prediction: {{ prediction }}</p> 
  {% endif %}
</body>
</html>